/**
 *  Sensible global defaults
 *  TODO: Check block styles, some of these may be plain out overridden by bad blocks.
 */

* {
    box-sizing: border-box;
    /**
     * Defaults globally a max 60ch content width, which is then overridden by sectional elements like html/body/etc.
     * Right now this causes weird things with cover block only half rendering.
     */
    /* max-inline-size: var( --wf--measure, 60ch ); */
}

/*html,
body,
div,
header,
nav,
main,
footer {
    max-inline-size: none;
}*/
/**
 * Removes extra margin at the top that happens between a header template and the post content.
 * Rather than auto having margin wrapping the post-content, instead the user can have desired margin/padding
 * in their first / last block as desired.
 */
.wp-site-blocks .wp-block-post-content {
    margin-block: 0;
}